<div class="Container">
  <div class="HowToUse">
    <h3>Como usar o Divisor de Conta de Restaurante:</h3><br/>
    <p>- Primeiro adicione todos os clientes. Caso o cliente queira pagar os 10% do serviço marque a caixa abaixo.</p>
    <p>- Confira os campos e clique em "Adicionar Cliente", repita para todos os clientes</p>
    <p>- Em seguida, adicione o nome, valor e quantidade total dos items consumidos, marcando abaixo quem consumiu o item a ser adicionado.</p>
    <p>- Confira os campos e clique em "Adicionar Item", repita para todos os itens</p>
    <p>- Após todos os itens adicionados, clique em "Calcular Total" para ver o resultado</p>
  </div>
  <router-outlet></router-outlet>
</div>
